body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h1, span.breeze {
  font-family: Georgia, georgia, sans-serif;
}
h1 {
  font-size: 12em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: .8em;
}
h2, p {
  color: #404040;
}
h2 {
  margin: 0;
  padding: 0;
}
span.breeze {
  font-style: italic;
  color: #0DA4BC;
}
p {
  font-size:1.2em;
}
#container {
  margin-top: 60px;
}

a, a:visited {
  color: black;
}
a:hover {
  color: #0DA4BC;
}
@media only screen and (max-width: 767px) {
  #container {
    margin-top: 20px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
}
